<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="//www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline social">
		{% if site.author.facebook %}
		<li class="li-social">
			<a class="facebook" href="{{ site.author.facebook }}" target="_blank" title="Facebook">Facebook</a>
		</li>
		{% endif %}
		{% if site.author.google %}
		<li class="li-social">
			<a class="google" target="_blank" href="{{ site.author.google }}" title="Google+">Google+</a>
		</li>
		{% endif %}
		{% if site.author.twitter %}
		<li class="li-social">
			<a class="twitter" target="_blank" href="{{ site.author.twitter }}" title="Twitter">Twitter</a>
		</li>
		{% endif %}
		{% if site.author.github %}
		<li class="li-social">
			<a class="github" target="_blank" href="{{ site.author.github }}" title="GitHub">GitHub</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li class="li-social">
			<a class="linkedin" target="_blank" href="{{ site.author.linkedin }}" title="Linkedin">Linkedin</a>
		</li>
		{% endif %}
		{% if site.author.weibo %}
		<li class="li-social">
			<a class="weibo" target="_blank" href="{{ site.author.weibo }}" title="新浪微博">新浪微博</a>
		</li>
		{% endif %}
		{% if site.author.wechat %}
		<li class="li-social">
			<a class="weixin" href="/assets/ico/weixinqrcode.png" title="{{ site.author.wechat }}" target="_blank" onmouseover="weixin_mouseOver()" onmouseout="weixin_mouseOut()">微信</a>
		</li>
		<script type="text/javascript">
			$(document).ready(function(){
				$(".weixin").removeAttr("rel");
			});
		</script>
		{% endif %}
		{% if site.author.zhihu %}
		<li class="li-social">
			<a class="zhihu" target="_blank" href="{{ site.author.zhihu }}" title="知乎">知乎</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li class="li-social">
			<a class="email" href="{{ site.author.email }}" title="EMail">EMail</a>
		</li>
		{% endif %}
		{% if site.author.rss %}
		<li class="li-social">
			<a class="rss" target="_blank" href="{{ site.author.rss }}" title="RSS">RSS</a>
		</li>
		{% endif %}
	</ul>
	<ul id="contact-list-secondary" class="list-unstyled list-inline">

	</ul>
</div>
<!-- sidebar.html end -->
